body {
    text-align: center;
    font-family: sans-serif;
    background-color: #8FBC8F; /* Fű zöld */ /* Ezt a sort TÖRÖLD KI vagy kommentezd ki! */
    user-select: none; 
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}

.score {
    background: #fff;
    color: #d35400;
    padding: 0 20px;
    border-radius: 10px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #f1c40f;
    border: none;
    border-radius: 5px;
}

.game {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Fontos: ha sok lyuk lesz, törjön új sorba */
    gap: 10px;       /* Távolság a lyukak között */
    justify-content: center;
}

.menuButtons{
    margin-top: 15px;
}

.menuButtons button{
    width: 200px;
    padding: 20px;
}

/* A LYUK (A földkupac) */
.hole {
    width: 150px; 
    height: 150px;
    position: relative;
    overflow: hidden; /* Ami kilóg, az nem látszik */
    
    /* Földkupac háttér (ha van dirt.png-d, vedd ki a kommentet) */
    /* background-image: url('dirt.png'); */
    background-color: #8b4513; 
    background-size: cover;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
}

/* A VAKOND (A karakter) */
.mole {
    width: 100%;
    height: 110%;
    position: absolute;
    top: 100%; /* Alapból lent van (elbújva) */
    transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    cursor:text;
    

    /* A képet a JS adja hozzá! */
    background-repeat: no-repeat;
    background-position: center bottom; /* Alulra igazítjuk, hogy onnan bújjon ki */
    background-size: 80%; /* Hogy ne lógjon ki teljesen */
    
    /* Ha nincs kép, legyen egy alap szín, hogy lásd (fejlesztéshez) */
    /* Ha már vannak képeid, ezt a sort törölheted: */
    /* background-color: #333; */

    cursor: inherit; /* <-- EZT ADD HOZZÁ: Örökli az egyedi kurzort a body-tól */
}

/* Amikor megkapja az 'up' osztályt, felugrik */
.hole.up .mole {
    top: 0;
}

/* --- REKLÁM VIDEÓ OVERLAY --- */
.hidden {
    display: none !important;
}

#videoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95); /* Majdnem teljesen fekete háttér */
    z-index: 10000; /* Hogy minden más felett legyen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#adVideo {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #333;
    border-radius: 10px;
}

#closeAdBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
    z-index: 10001;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#closeAdBtn:hover {
    background-color: #c0392b;
}